# --- Python General ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# --- Build & Distribution ---
build/
dist/
*.egg-info/
.eggs/
MANIFEST
*.manifest
*.spec
*.in

# --- Environments ---
.venv

# --- Tools & QA ---
.ruff_cache/
.pytest_cache/

# --- IDEs & Editors ---
.vscode/

# --- Project Specific ---
# Internal development notes & logs
devs/
DEV/
logs/

# SQLite Databases
*.sqlite
*.sqlite3
*.db

# Configuration & Secrets
.datahub_config.json
config.toml
config.yaml
.hei-datahub/

# --- Tests ---
tests/
